* {
    font-family: "Noto Sans JP", sans-serif;
}
body {
    margin: 0;
}

header {
    width: 100%;
    text-align: center;
    background-color: black;

    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
}

header h2 {
    color: white;
    margin: 0;
    padding: 20px 0;
    font-size: 1.5rem;
    font-weight: bold;
}

main {
    margin: calc(2rem + 60px) 20%;
    display: flex;
}

.text_box {
    display: flex;
    gap: 40px;
}

img {
    width: 180px;
    text-align: center;
}

p {
    font-size: 2rem;
}

a {
    text-decoration: none;
}

.design {
    margin-bottom: auto;
    padding: 0 20px;
    border-bottom: 1px solid black;
}

.comment_box {
    text-align: center;
    writing-mode: vertical-rl;
    margin: 0 auto;
}

.comment_box p {
    font-family: "Noto Serif JP", serif;
}
